<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Monthly Activity Report </title>
</head>
<body>
    <h2> Monthly Activity Report </h2>
    <p>
        Total Expenditure: {{ total_expenditure }}
    </p>
    <h3> Orders: </h3>
    <ul>
        {% for order in orders %}
        <li> {{ order.productName }}: Quantity - {{ order.quantity }}, Rate - {{ order.rateUnit }} </li>
        {% endfor %}
    </ul>
</body>
</html>